
html {
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-family: 'Exo 2', sans-serif;
}
 
*,*:before, *:after {
    box-sizing:inherit;
}

body {
    margin:0
    }

.row img {
margin-bottom: -8px;
}

.menu {

    display: flex;
    z-index: 9;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 5px 30px 0 30px;
    background-color: white;
    text-decoration: none;
    justify-content: space-between;
}


.menu__item {

    margin:5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    cursor:  pointer; 
    color:black;
}

.menu__item:hover {
    margin:5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
    text-decoration: none;
    cursor:  pointer; 
    text-shadow: 1px 1px 26px red;
    color:rgb(171, 24, 24);
}

.logo {

    display:flex;
    justify-content: center;
    align-items:center;
    margin-right: 40px;
    color:black;
    font-weight: bold;
    text-align: center;
}


.logo__heart {
    width: 5%;
    height: 5%;
    position: relative;
    display: inline-block;
}

.logo .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.logo:hover .img-top {
    display: inline;
}

.cerdas {
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-family: 'Rampart One', cursive;
    text-shadow: none;
    text-decoration: none;
    color:black
}



.container:after, .container:before, .row:after,.row:before {
    content:"";
    display:table;
    clear:both;
}
.half {
    float:left;
    margin-top: 50px;
    width:100%;
    width:49.99999%;
}


.content {
    margin-left:auto;
    margin-right:auto;
    
}


.about {

    display: grid;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 80px 30px 80px 30px;
    justify-items: stretch;;
}

.about__text {
    font-size: 25px;
    
}

/*CONTACT FORM STYLES*/


.contact {
    font-size: 20px;
    color:rgb(13, 13, 13);
    background: url('../img/main2-min.jpg') center center / cover no-repeat; /*fix the background*/
    
    width: 100%;
    height: 100%;
    background-attachment:fixed;
    

    }

 


    label {

    color:black;
    
    }

    form {
        background: white;
        width: 640px;
        margin: 180px auto;
        max-width: 100%;
        border-radius: 4px;
        padding: 55px 30px;
        
     }
     
     form .title h2{
         letter-spacing: 6px;
         border-bottom: 1px solid white;
         display: inline-block;
         padding-bottom: 8px;
         margin-bottom: 32px;
     }
     
     form .half-contact{
         display: flex;
         justify-content: space-between;
     }
     
     form .half-contact .item{
         display: flex;
         flex-direction: column;
         margin-bottom: 24px;
         width: 48%;
     }
     
     form label{
         display: block;
         font-size: 13px;
         letter-spacing: 3.5px;
         margin-bottom: 16px;
     }
     
        form .half-contact .item input {
            border-radius: 4px;
            border: 1px solid black;
            outline: 0;
            padding: 16px;
            width: 100%;
            height: 44px;
            font-size: 17px;
        }
    
     form .full textarea{
         background: transparent;
         border-radius: 4px;
         border: 1px solid black;
         outline: 0;
         padding: 12px 16px;
         height: 180px;
         width: 350px;
         font-size: 17px;
     }
     
     form .action input{
         background: transparent;
         border-radius: 4px;
         border: 1px solid rgb(0, 0, 0);
         cursor: pointer;
         font-size: 13px;
         font-weight: 600;
         height: 44px;
         letter-spacing: 3px;
         outline: 0;
         padding: 0 20px 0 22px;
         margin-right: 10px;
     }
     
     form .action input[type="submit"]{
         background: rgb(229, 227, 232);
         color: black;
         margin-top: 20px
     }
     
     
     form .icons a{
         border: 1px solid rgb(21, 20, 20);
         border-radius: 50%;
         line-height: 36px;
         text-align: center;
         font-weight: 600;
         width: 38px;
         margin-top: 30px;
         margin-right: 10px;
     
     }
     
     form .half-contact .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover {
         background: rgba(255,255,255,0.075);
     
     }
     
     iframe {
         position: absolute;
         margin: 80px 230px;
     }





/*Gallery*/

.gallery {
    padding: 3rem 0;
}

.gallery img {
    transition: 0.6s;
    
   
}
.printings {
    width: 90vw;
    margin: 60px auto;
    max-width:inherit;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.single-print {
    display: block;
    width: 100%;
    min-height: 18rem;
    max-height: 25rem;
}

.single-print:hover {
    transform: scale(1.1);
    opacity: 120%;
    
}